---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Section1 from "../components/Section1.astro";
import Section2 from "../components/Section2.astro";
import Section3 from "../components/Section3.astro";
import Section4 from "../components/Section4.astro";
import Section5 from "../components/Section5.astro";
import Section6 from "../components/Section6.astro";
import Section7 from "../components/Section7.astro";
import Section8 from "../components/Section8.astro";
import "../styles/global.css";
---

<Layout title="Llum i Taula | Comedores Escolares Artesanos">
  <main>
    <Hero />
    <Section1 />
    <Section2 />
    <Section3 />
    <Section4 />
    <Section5 />
    <Section6 />
    <Section7 />
    <Section8 />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
  }
</style>
