---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Llum i Taula | Comedores Escolares Artesanos">
	<main>
		<img
			src="/images/logo.png"
			alt="Llum i Taula Logo"
			class="w-[60vw] h-aut"
		/>
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
		min-height: 100vh;
	}
</style>
