---
const {
  logoSrc = "/images/logo.png",
  imageSrc = "/images/section1.png",
  logoAlt = "llum i taula",
  imageAlt = "Niños en clase",
} = Astro.props;
---

<section
  class="py-16 px-6 md:px-14 bg-white"
  aria-labelledby="section5-heading"
>
  <div
    class="max-w-7xl mx-auto flex flex-col-reverse md:flex-row gap-12 items-center"
  >
    <!-- Left side: Logo and text -->
    <div class="flex-1 space-y-8">
      <img src={logoSrc} alt={logoAlt} class="hidden md:block w-64 md:w-80" />
      <div class="space-y-4">
        <p class="text-gray-500 text-lg leading-relaxed">
          Somos una empresa de gastronomía escolar con raíces en Valencia. <span
            class="text-[#9aa98f] font-semibold"
            >Nos especializamos en ofrecer a los niños una alimentación
            saludable y equilibrada,</span
          > combinando ingredientes de alta calidad con una presentación atractiva
          y sabrosa.
        </p>
      </div>
    </div>

    <!-- Right side: Image -->
    <div class="flex-1">
      <img
        src={imageSrc}
        alt={imageAlt}
        loading="lazy"
        class="w-full h-auto rounded-3xl shadow-lg object-cover"
      />
    </div>
  </div>
</section>
