<div
  class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-20 bg-secondary py-8 md:py-10 px-6 md:px-20 rounded-2xl text-white"
>
  <div
    class="flex flex-col gap-4 justify-center text-center md:text-left md:items-start"
  >
    <h2 class="mb-4 text-4xl md:text-5xl font-light leading-tight">
      Donde ya estamos dejando huella
    </h2>
    <p>
      Nos enorgullece formar parte del día a día en colegios de Valencia, donde
      trabajamos para que cada comida sea una experiencia saludable, educativa y
      deliciosa.
    </p>
    <p>
      Nos comprometemos a adaptar nuestros menús y servicios a las necesidades
      de cada comunidad escolar.
    </p>
    <ul class="mt-4">
      <li>CEIP Santa Teresa</li>
      <li>CEIP Carles Salvador</li>
    </ul>
  </div>
  <div class="flex items-center">
    <img
      src="/images/section1.png"
      loading="lazy"
      class="rounded-2xl w-full h-auto object-cover max-h-80 md:max-h-96"
      alt="Mapa de ubicaciones"
    />
  </div>
  <div class="md:col-span-2 flex flex-col gap-4 items-center">
    <h3>Forma parte de la familia</h3>
    <p>
      Si quieres que tu colegio forme parte de esta experiencia única,
      ¡contáctanos y llevemos juntos la magia de Llum i Taula a más niños en
      Valencia!
    </p>
    <div class="flex flex-col md:flex-row gap-4">
      <a
        href="tel:+34653289766"
        class="inline-block mt-6 bg-[#e57f3b] text-white px-8 py-3 rounded-full shadow-md"
      >
        (+34) 653 28 97 66
      </a>
      <a
        href="mailto:info@llumitaula.com"
        class="inline-block mt-6 bg-[#e57f3b] text-white px-8 py-3 rounded-full shadow-md"
      >
        info@llumitaula.com</a
      >
    </div>
  </div>
</div>
